.lifecycle-img {
  background-image: url('https://user-images.githubusercontent.com/21967852/155684438-cbaefc68-a673-4bc1-b2f9-4826a1252b45.png');
  width: 800px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}
